%h1 Listing events

%table
  %thead
    %tr
      %th Title
      %th Time
      %th Tickets
      %th
      %th
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= event.title
        %td= event.time
        %td= event.tickets
        %td= link_to 'Show', event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Event', new_event_path
