%p
  Hello Ignite Judges!

%p
  Below are the proposals we've received to speak at Ignite Baltimore.
  You can vote on them at this link: #########

%p
  Thanks for your help!

%p= "-Mike, Neal, and Jen"

- @proposals.each do |proposal|
  %h1= proposal.title
  %h2= "Submitted by #{proposal.speaker_name}"
  %h3 Description
  %p= proposal.description
  %h3 Speaker Bio
  %p= proposal.bio
  - if proposal.website?
    %p Speaker website:
    %a{href: proposal.website}
      = proposal.website
