%tr.proposal
  %td.title
    = link_to_if(proposal.filepicker_url?,proposal.title,proposal.filepicker_url)
    - if proposal.filepicker_url.blank?
      = "-"
      %i Not uploaded yet
  %td
    = proposal.speaker_name
    - if proposal.website?
      %br
      = link_to(proposal.website,proposal.website)
  %td= proposal.description
  %td= proposal.bio
