.row
  = link_to "Change Proposal", edit_proposal_url(id: proposal.hash_code), class: "btn btn-primary span2"
  .span1
  = button_to "Delete Proposal", proposal_url(id: proposal.hash_code), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger span2"
.row.proposal
  %h2.span12 Title
  .span12.title= proposal.title
  %h2.span12 Speaker Name
  .span12.speakername= proposal.speaker_name
  %h2.span12 Speaker Email
  .span12.email= proposal.email
  %h2.span12 Daytime Phone Number
  .span12.phone= proposal.phone
  %h2.span12 Talk Description
  .span12.description= proposal.description
  %h2.span12 Speaker Bio
  .span12.bio= proposal.bio
  %h2.span12 Speaker Website
  .span12.website= proposal.website
