.row.proposal
  %h2.span12 Title
  .span12.title= proposal.title
  %h2.span12 Speaker Name
  .span12.speaker_name= proposal.speaker_name
  %h2.span12 Speaker Email
  .span12.email= proposal.email
  %h2.span12 Daytime Phone Number
  .span12.phone= proposal.phone
  %h2.span12 Talk Description
  .span12.description= proposal.description
  %h2.span12 Speaker Bio
  .span12.bio= proposal.bio
  %h2.span12 Speaker Website
  .span12.website= proposal.website
