.row
  = link_to "Change Proposal", edit_proposal_url(id: proposal.hash_code), class: "btn btn-primary span2"
  .span1
  = button_to "Delete Proposal", proposal_url(id: proposal.hash_code), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger span2"
.row.proposal
  %h2.span12 Title
  .span12.title= proposal.title
  %h2.span12 Speaker Name
  .span12.speakername= proposal.speaker_name
  %h2.span12 Speaker Email
  .span12.email= proposal.email
  %h2.span12 Daytime Phone Number
  .span12.phone= proposal.phone
  %h2.span12 Talk Description
  .span12.description= proposal.description
  %h2.span12 Speaker Bio
  .span12.bio= proposal.bio
  %h2.span12 Speaker Website
  .span12.website= proposal.website

- if proposal.filepicker_url?
  .row
    .alert.alert-success.span12
      We have received your presentation, thanks! You can upload a replacement copy below.

- if proposal.selected?
  .row
    %h2.span12(name="upload") Upload Your Presentation
  .row
    .span12
      = simple_form_for proposal do |f|
        = f.filepicker_field :filepicker_url, button_text: "Select your presentation file", button_class: "btn"
        = f.submit "Upload", class: "btn btn-info"
