!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= title
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag

    = csrf_meta_tags
    = yield(:head)

  %body
    %header.navbar.navbar-default.navbar-fixed-top
      %nav.navbar-inner
        .container-fluid
          .navbar-header
            %img{ src: image_path("logo.gif"), width: "111", height: "78" }
            = render 'layouts/navigation'

    .container
      = render 'layouts/messages'

      #main_content
        .page-header
          %h1.span12= title
        = yield

  = javascript_include_tag "application"
  = filepicker_js_include_tag
  :javascript
    filepicker.setKey('#{ENV['FILEPICKER_API_KEY']}')
  = yield(:bottom)
